{% extends "cosinnus_notifications/base.html" %}
{% load i18n static cosinnus_tags djajax_tags widget_tweaks %}

{% block page_title %}
    {% trans "Notification Preferences" %}
{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans "Notification Preferences" %}</li>
{% endblock %}

{% block leftnav %}
    {% include 'cosinnus/user/leftnav.html' with view="edit_notifications" %}
{% endblock leftnav %}

{% block content %}
    
    {% if not request.user|cosinnus_setting:"notifications_help_text" %}
	    <div class="alert alert-success alert-dismissable">
	        <i class="fa fa-info-circle fa-3x"></i>
	        <button id="close_button" type="button" class="close" data-dismiss="alert" aria-hidden="true" {% djajax_connect request.user.cosinnus_profile.settings trigger_on="click" fixed_value="notifications_help_text:true" %}>&#215;</button>
	        <p>{% trans "Select which notifications you would like to receive for each group or project you are involved in." %}</p>
	        <p>{% trans "These notifications will be sent to your configured email address:" %} <em>{{ request.user.email }}</em></p>
	    </div>
    {% endif %}

    <form method="POST" action="">{% csrf_token %}
    
        <div class="content-box large-space">
            <div class="row">
                <div class="col-md-12"><!-- right column -->
                    <div class="row"> 
                    
                        <div class="col-md-4">
                            <legend style="margin: 0;">{% trans "Receive notification emails in this language:" %}</legend>
                        </div>
                        <div class="col-md-8">
                            <p class="no-horizontal-padding no-vertical-padding">
                                <select id="id-language" name="language" class="form-control">
                                    {% for choice, label in language_choices %}
                                        <option {% if language_selected == choice %}selected{% endif %} value="{{ choice }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    
		<!-- a box with semi transparent background -->
	    <div class="content-box">
            {% for group, notifications, choice in grouped_notifications %}
                <div class="row large-space">
	                <div class="col-md-12"><!-- right column -->
	                    {% if not notifications and not choice %}
	                        <a href="{% group_url 'cosinnus:group-dashboard' group=group %}" target="_blank"> 
                                <legend>{{ group.name }}</legend>
                            </a>
	                    {% else %}
		                    <div class="row">
		                        {% if group.parent %}
		                        <div class="col-md-1">
		                            <legend>&nbsp;</legend>
		                        </div>
		                        {% endif %}
		                        <div class="{% if group.parent %}col-md-3{% else %}col-md-4{% endif %}">
		                            <a href="{% group_url 'cosinnus:group-dashboard' group=group %}" target="_blank"> 
		                                <legend>{{ group.name }}</legend>
		                            </a>
		                        </div>
		                        <div class="col-md-8">
		                            <p class="no-horizontal-padding no-vertical-padding">
		                            <select id="notif_choice_{{group.pk}}" name="notif_choice:{{group.pk}}" class="form-control" onchange="toggleCustomNotificationPreferences({{group.pk}});" onmousedown="return toggleCustomNotificationHeader(event, {{group.pk}});">
		                                <option {% if choice == "all" %}selected{% endif %} value="all">{% trans "All notifications" %}</option>
		                                <option default {% if choice == "custom" %}selected{% endif %} value="custom">{% trans "Custom" %}</option>
		                                <option {% if choice == "none" %}selected{% endif %} value="none">{% trans "No notifications" %}</option>
		                            </select>
		                            </p>
		                        </div>
		                    </div>
		                    <div id="div_notif_choices_{{group.pk}}" style="display:none;">
	                            {% for id, label, value, app_name, app_label in notifications %}
		                            <div class="row"> 
		                                <div class="col-md-3 col-md-offset-1">
                                            {% ifchanged app_label %}
                                                <label>{{ app_label }}</label>
                                            {% endifchanged %}&nbsp;
                                        </div>
		                                <div class="col-md-8">
			                                <div {% ifchanged app_name %}style="border-top: solid 1px gray;"{% endifchanged %}>
				                                <input type="hidden" value="0" name="notif_option:{{id}}" /> <!-- will send unchecked data on POST -->
				                                <label><input type="checkbox" name="notif_option:{{id}}" value="1" {% if value %}checked="true"{% endif %} /> {{label}}</label>
			                                </div>
		                                </div>
		                            </div>    
	                            {% endfor %}
		                    </div>
		                {% endif %}
	                </div>
                </div>
            {% endfor %}
        </div><!-- content-box -->
        
        <div class="snap-to-bottom">
	        <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#reset_notifications_modal" style="margin-left: 0px;">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-times"></i>
		                </a>
		                <div class="media-body">
	                        {% trans "Reset to default" %}
		                </div>
		            </li>
		        </ul>
		    </button>
	        
	        <button type="submit" class="btn btn-emphasized">
	            <ul class="media-list">
	                <li class="media">
	                    <a class="pull-left" href="#">
	                        <i class="fa fa-check"></i>
	                    </a>
	                    <div class="media-body">
	                        {% trans "Save" %}
	                    </div>
	                </li>
	            </ul>
	        </button>
	        
        	<div class="clearfix"></div>
        </div>
    
    </form>
    
    
    {% captureas label %}{% trans "This will reset all of your notification preferences to their default setting. Are you sure you wish to do that?" %}{% endcaptureas %}
    {% captureas title %}{% trans "Reset to default" %}{% endcaptureas %}
    {% url 'cosinnus:reset-notifications' as reset_url %}
    {% include "cosinnus/modal_box.html" with id="reset_notifications_modal" label=label title=title form_action=reset_url %}
    
    
{% endblock content %}


{% block extrafooter %}
    {{ block.super }}
    <script type="text/javascript">
        var toggleCustomNotificationPreferences = function(id) {
            var pref_box = $('#notif_choice_' + id);
            var pref_area = $('#div_notif_choices_' + id);
            if (pref_box.val() == 'custom') {
                pref_area.slideDown({'complete': $.cosinnus.snapToBottom});
            } else {
                pref_area.hide();
                $.cosinnus.snapToBottom();
            }
        };
        var toggleCustomNotificationHeader = function(e, id) {
            var pref_box = $('#notif_choice_' + id);
            var pref_area = $('#div_notif_choices_' + id);
            if (pref_box.val() == 'custom' && !pref_area.is(':visible')) {
                pref_area.slideDown({'complete': $.cosinnus.snapToBottom});
                // activate this to prevent opening the dropdown menu on a click on "custom"
                // e.preventDefault();
                // return false;
                return true;
            }
            return true;
        };
    </script>
{% endblock extrafooter %}