.notification-options {
}
.notification-options.notification-options-seperated {
    border-top: solid 1px gray;
}
.notification-options .notification-options-buttons {
    margin-left: 10px;
}
.notification-options.highlighted,  .notification-choice-highlighted {
    background-color: #efa02d;
}

.notification-options label {
    display: block;
    font-size: 90%;
}
.notification-options input[type="radio"] {
    margin-left: 2px;
}